<video
  class="video-player"
  #videoPlayer
  (timeupdate)="onTimeUpdate()"
  (ended)="onVideoEnded()"
  (click)="switchPlayPause()"
  (loadedmetadata)="onLoadedMetadata()"
  crossorigin="anonymous"
></video>

<div
  class="controls"
  [style.opacity]="panelVisible() ? 0.95 : 0"
  (click)="$event.stopPropagation()"
  role="toolbar"
  aria-label="Video controls"
>
  <button matMiniFab (click)="reload()" aria-label="Pause">
    <mat-icon>refresh</mat-icon>
  </button>

  <button matMiniFab (click)="switchPlayPause()" aria-label="Pause">
    @if (isPlaying()) {
      <mat-icon>pause</mat-icon>
    } @else {
      <mat-icon>play_arrow</mat-icon>
    }
  </button>

  <mat-progress-bar
    [id]="progressBarId"
    style="cursor: pointer"
    mode="determinate"
    (click)="seekTo($event)"
    [value]="(currentTime() / duration()) * 100"
  ></mat-progress-bar>

  <div class="time">
    <span>{{ currentTime() * 1000 | formatDuration }}</span> /
    <span>{{ duration() * 1000 | formatDuration }}</span>
  </div>
</div>

@if (showOpenFilesPopup()) {
  <div class="popup open-files">
    <div class="popup-content">
      <div class="select-file-block">
        <label> Select video file </label>

        <input type="file" accept="video/*" (change)="onVideoFileSelected($event)" />
      </div>

      <div class="select-file-block">
        <label> Select main subtitle file </label>

        <input type="file" accept=".vtt" (change)="onSrtSelected($event, 'first')" />
      </div>

      <div class="select-file-block">
        <label> Select secondary subtitle file </label>

        <input type="file" accept=".vtt" (change)="onSrtSelected($event, 'second')" />
      </div>

      <div class="tools">
        <button matButton="filled" (click)="go()" [disabled]="!videoFileIsSelected()">
          Open Video
        </button>
      </div>

      <div class="history">
        <h3>History</h3>
        <div class="history-list">
          @for (historyItem of history(); track historyItem.fileName) {
            <div class="history-item">
              {{ historyItem.fileName }}
            </div>
          }
        </div>
      </div>

      <mat-form-field>
        <input matInput [placeholder]="defaultDictionaryUrl" [(ngModel)]="dictionaryUrl" />
      </mat-form-field>

      <div>
        <button
          matButton="filled"
          (click)="setDictionaryUrl()"
          [disabled]="!dictionaryUrl()?.trim()"
        >
          Save Dictionary Url
        </button>
      </div>
    </div>
  </div>
}

@if (showSubsPopup()) {
  <div class="popup subs">
    <div class="close-button">
      <button matMiniFab (click)="switchPlayPause()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="popup-content">
      <div class="popup-subs-list">
        @if (!subtitles.allSubtitles().length) {
          <div class="no-subs">No subtitles, you should select subs files</div>
        }

        @for (sub of subtitles.allSubtitles(); track sub.startTimeMs) {
          <div
            class="subs-item"
            [class.current]="sub.startTimeMs === currentSubStartTime()"
            [class.last-current]="sub.startTimeMs === lastCurrentSubStartTime()"
            [class.user-select]="sub.startTimeMs === userSelectSubStartTime()"
            [attr.data-popup-sub-item-start-time]="sub.startTimeMs.toString()"
            (contextmenu)="userSelectSubStartTime.set(sub.startTimeMs); $event.preventDefault()"
          >
            <span class="time" style="cursor: pointer" (click)="goTo(sub.startTimeMs)">
              {{ sub.startTimeMs | formatDuration }}
            </span>

            <span class="text" (click)="takeSelectedWord()">{{ sub.text }}</span>

            <span class="second-sub">
              {{ sub.secondSub }}
            </span>
          </div>
        }
      </div>
    </div>
  </div>
}
